* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.app-content {
	position: relative;
	min-height: 100vh;
}

.menu-ham {
	position: absolute;
	cursor: pointer;
	right: 1rem;
}

.nav {
	border-bottom: 1px solid red;
}

.header-wrap {
	display: flex;
	flex-direction: column;
}

.links {
	align-items: center;
	position: absolute;
	width: 100%;
	top: 50px;
	display: none;
}

.logo {
	height: 50px;
}

.links > li {
	background-color: red;
	width: 100%;
	border-bottom: 1px solid #000;
}

.links li {
	list-style: none;
}

.links > li a {
	text-decoration: none;
	color: inherit;
	font-size: 1.2rem;
}

.logo {
	margin-right: auto;
}

.logo a {
	font-size: 2rem;
	font-weight: 600;
	color: #000;
}

.links ul {
	display: none;
	padding-left: 20px;
}

.links li {
	padding: 10px;
	cursor: pointer;
}

.menu-level-1.open > ul {
	display: block;
}

.menu-level-1.open > .caret {
	transform: none;
}

/* Hamburger */

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-ham.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-ham.open .bar2 {opacity: 0;}

.menu-ham.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
 .menu-ham.open +  
.header-wrap .links {
	display: block;
}

.caret {
	float: right;
	transform: rotate(180deg);
	margin-right: 20px;
}

/* footer */
footer {
  height: 50px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(27, 25, 26, 0.5);
  display: none;
}

#confirm {
  background-color: #91FF00;
  border: 1px solid #aaa;
  width: 250px;
  height: 60px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

#confirm button {
  background-color: #48E5DA;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
#confirm .message {
  text-align: left;
}

.popup.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
	padding-bottom: 50px;
}

@media only screen and (min-width:560px) {
	.menu-ham {
		display: none;
	}

	.caret {
		display: none;
	}

	.header-wrap {
		flex-direction: row;
	}

	.links {
		display: flex;
		flex-direction: row;
		position: unset;
		width: auto;
	}

	.links li {
		display: block;
		width: 6rem;
		padding: 0;
	}

	.links ul {
		padding: 0;
		position: absolute;
		width: 100%;
		background: blue;
		width: auto;
	}

}